# ==========================
# Global Settings
# ==========================
# Ignore everything by default
*

# Allow configuration and documentation files
!.gitignore
!README.md

# ==========================
# Session 7: Image Generation AI
# ==========================
!강의_6기_AI응용_7차시_이미지생성형AI/
!강의_6기_AI응용_7차시_이미지생성형AI/*.ipynb

!강의_6기_AI응용_7차시_이미지생성형AI/dcgan_img_mnist/
!강의_6기_AI응용_7차시_이미지생성형AI/dcgan_img_mnist/*

# ==========================
# Session 6: Neural Style Transfer
# ==========================
!강의_6기_AI응용_6차시_신경망 스타일 전이/
!강의_6기_AI응용_6차시_신경망 스타일 전이/*.ipynb

# ==========================
# Session 5: CNN Classification App
# ==========================
!강의_6기_AI응용_5차시_CNN기반 분류 앱/
!강의_6기_AI응용_5차시_CNN기반 분류 앱/*.ipynb

